<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>HackNU 2018</title>
    <link type="text/css" rel="stylesheet" href="../styles/main.css">
</head>
<body>
<div id="wrapper">
    <div id="logo">
        <div>
            <h1 class="boldHeader">⟨HackNU⟩</h1>
            <input type="button" class="register" value="Register"/>
        </div>
    </div>

    <div id="header">
        <h2 class="boldHeader">⟨HackNU⟩</h2>
        <input type="button" class="register" value="Register"/>
    </div>

    <div id="about" class="content">
        <h3>About</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mattis erat a nisi dignissim, vel lacinia
            quam
            sollicitudin. Etiam ut risus sed risus egestas tristique id in erat. Aliquam id condimentum tellus, sed
            scelerisque quam. In ut est non elit finibus facilisis. Sed sed turpis purus. Aliquam eu arcu vitae
            sapien
            vulputate interdum eget fringilla turpis. Aliquam lobortis libero vel lectus egestas luctus. Morbi
            egestas
            vitae tellus quis condimentum. Sed blandit tempor metus, vitae fringilla ipsum dapibus in. Pellentesque
            habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi ut mi suscipit,
            auctor orci sed, feugiat magna. Etiam ut venenatis sapien.
        </p>
        <p>Vestibulum tristique mollis dolor eget consequat. Fusce viverra finibus neque eget lobortis. Class aptent
            taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean volutpat enim
            quam, eu
            dignissim metus faucibus laoreet. Quisque risus erat, vestibulum a erat quis, egestas pulvinar enim.
            Class
            aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc nulla turpis,
            fermentum id iaculis a, iaculis id mauris. Vivamus nibh mauris, condimentum in placerat eu, mattis vitae
            erat. Vestibulum blandit ultricies mattis.
        </p>
        <div id="sponsors">
            <img src="../imgs/0to1labs.png"/>
            <img src="../imgs/caica.png"/>
            <img src="../imgs/choco.png"/>
            <img src="../imgs/kolesa.png"/>
            <!--<img src="http://via.placeholder.com/300x150"/>-->
            <!--<img src="http://via.placeholder.com/300x150"/>-->
        </div>
    </div>

    <div id="workshops" class="content">
        <h3>Workshops</h3>
        <table>
            <tbody>
            <tr>
                <td>Workshop #1</td>
                <td>Feb 25</td>
            </tr>
            <tr>
                <td>Workshop #2</td>
                <td>Mar 11</td>
            </tr>
            <tr>
                <td>Workshop #3</td>
                <td>Mar 18</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div id="timetable" class="content">
        <h3>Timetable</h3>
        <table class="days">
            <thead>
            <tr>
                <th colspan="2">Day 1 - Mar 31</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>11.00 - 12.00</td>
                <td>Registration</td>
            </tr>
            <tr>
                <td>12.00 - 13:00</td>
                <td>Opening</td>
            </tr>
            <tr>
                <td>13.00 - 00:00</td>
                <td>Coding</td>
            </tr>
            </tbody>
        </table>

        <table class="days">
            <thead>
            <tr>
                <th colspan="2">Day 2 - Apr 1</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>00.00 - 13.00</td>
                <td>Coding</td>
            </tr>
            <tr>
                <td>13.00 - 15:00</td>
                <td>Presentations</td>
            </tr>
            <tr>
                <td>15.00 - 15:30</td>
                <td>Break</td>
            </tr>
            <tr>
                <td>15.30 - 16:00</td>
                <td>Judge time</td>
            </tr>
            <tr>
                <td>16.00 - 16:30</td>
                <td>Closing</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div id="sections" class="content">
        <div id="section_header">
            <h3>Sections</h3>
            <p>
                Participants are allowed to attend only to one problem at the same time.
            </p>
        </div>
        <div class="section">
            <img class="section_owner" src="../imgs/0to1labs.png">
            <div class="section_problems">
                <input class="problem_tab" id="p_1_1" type="radio" name="tabs1" checked/>
                <label for="p_1_1">Problem 1</label>
                <input class="problem_tab" id="p_1_2" type="radio" name="tabs1"/>
                <label for="p_1_2">Problem 2</label>
                <input class="problem_tab" id="p_1_3" type="radio" name="tabs1"/>
                <label for="p_1_3">Problem 3</label>

                <div class="problem_content">
                    <p>FIRST Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mattis erat a nisi
                        dignissim,
                        vel
                        lacinia quam
                        sollicitudin. Etiam ut risus sed risus egestas tristique id in erat. Aliquam id condimentum
                        tellus, sed
                        scelerisque quam. In ut est non elit finibus facilisis. Sed sed turpis purus. Aliquam eu
                        arcu
                        vitae sapien
                        vulputate interdum eget fringilla turpis. Aliquam lobortis libero vel lectus egestas luctus.
                        Morbi egestas
                        vitae tellus quis condimentum. Sed blandit tempor metus, vitae fringilla ipsum dapibus in.
                        Pellentesque
                        habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi ut mi
                        suscipit,
                        auctor orci sed, feugiat magna. Etiam ut venenatis sapien.</p>
                    <p>FIRST Vestibulum tristique mollis dolor eget consequat. Fusce viverra finibus neque eget
                        lobortis.
                        Class aptent
                        taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean
                        volutpat
                        enim quam, eu
                        dignissim metus faucibus laoreet. Quisque risus erat, vestibulum a erat quis, egestas
                        pulvinar
                        enim. Class
                        aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc
                        nulla
                        turpis,
                        fermentum id iaculis a, iaculis id mauris. Vivamus nibh mauris, condimentum in placerat eu,
                        mattis vitae
                        erat. Vestibulum blandit ultricies mattis.</p>
                </div>
                <div class="problem_content">
                    <p>SECOND Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mattis erat a nisi
                        dignissim,
                        vel
                        lacinia quam
                        sollicitudin. Etiam ut risus sed risus egestas tristique id in erat. Aliquam id condimentum
                        tellus, sed
                        scelerisque quam. In ut est non elit finibus facilisis. Sed sed turpis purus. Aliquam eu
                        arcu
                        vitae sapien
                        vulputate interdum eget fringilla turpis. Aliquam lobortis libero vel lectus egestas luctus.
                        Morbi egestas
                        vitae tellus quis condimentum. Sed blandit tempor metus, vitae fringilla ipsum dapibus in.
                        Pellentesque
                        habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi ut mi
                        suscipit,
                        auctor orci sed, feugiat magna. Etiam ut venenatis sapien.</p>
                    <p>SECOND Vestibulum tristique mollis dolor eget consequat. Fusce viverra finibus neque eget
                        lobortis.
                        Class aptent
                        taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean
                        volutpat
                        enim quam, eu
                        dignissim metus faucibus laoreet. Quisque risus erat, vestibulum a erat quis, egestas
                        pulvinar
                        enim. Class
                        aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc
                        nulla
                        turpis,
                        fermentum id iaculis a, iaculis id mauris. Vivamus nibh mauris, condimentum in placerat eu,
                        mattis vitae
                        erat. Vestibulum blandit ultricies mattis.</p>
                </div>
                <div class="problem_content">
                    <p>THIRD Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mattis erat a nisi
                        dignissim,
                        vel
                        lacinia quam
                        sollicitudin. Etiam ut risus sed risus egestas tristique id in erat. Aliquam id condimentum
                        tellus, sed
                        scelerisque quam. In ut est non elit finibus facilisis. Sed sed turpis purus. Aliquam eu
                        arcu
                        vitae sapien
                        vulputate interdum eget fringilla turpis. Aliquam lobortis libero vel lectus egestas luctus.
                        Morbi egestas
                        vitae tellus quis condimentum. Sed blandit tempor metus, vitae fringilla ipsum dapibus in.
                        Pellentesque
                        habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi ut mi
                        suscipit,
                        auctor orci sed, feugiat magna. Etiam ut venenatis sapien.</p>
                    <p>THIRD Vestibulum tristique mollis dolor eget consequat. Fusce viverra finibus neque eget
                        lobortis.
                        Class aptent
                        taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean
                        volutpat
                        enim quam, eu
                        dignissim metus faucibus laoreet. Quisque risus erat, vestibulum a erat quis, egestas
                        pulvinar
                        enim. Class
                        aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc
                        nulla
                        turpis,
                        fermentum id iaculis a, iaculis id mauris. Vivamus nibh mauris, condimentum in placerat eu,
                        mattis vitae
                        erat. Vestibulum blandit ultricies mattis.</p>
                </div>
            </div>
            <div class="section_prizes">
                <p>
                    This is ZeroToOneLabs's prizes text placehoolder. Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Nunc mattis erat a nisi dignissim, vel lacinia quam sollicitudin. Etiam ut risus sed risus
                    egestas tristique id in erat. Aliquam id condimentum tellus, sed scelerisque quam. In ut est non
                    elit finibus facilisis. Sed sed turpis purus. Aliquam eu arcu vitae sapien vulputate interdum eget
                    fringilla turpis. Aliquam lobortis libero vel lectus egestas luctus. Morbi egestas vitae tellus quis
                    condimentum.
                </p>
            </div>
        </div>
        <div class="section">
            <img class="section_owner" src="../imgs/caica.png">
            <div class="section_problems">
                <input class="problem_tab" id="p_2_1" type="radio" name="tabs2" checked/>
                <label for="p_2_1">Problem 1</label>
                <input class="problem_tab" id="p_2_2" type="radio" name="tabs2"/>
                <label for="p_2_2">Problem 2</label>
                <input class="problem_tab" id="p_2_3" type="radio" name="tabs2"/>
                <label for="p_2_3">Problem 3</label>

                <div class="problem_content">
                    <p>
                        FIRST Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mattis erat a nisi
                        dignissim, vel lacinia quam sollicitudin. Etiam ut risus sed risus egestas tristique id in erat.
                        Aliquam id condimentum tellus, sed scelerisque quam. In ut est non elit finibus facilisis. Sed
                        sed turpis purus. Aliquam eu arcu vitae sapien vulputate interdum eget fringilla turpis. Aliquam
                        lobortis libero vel lectus egestas luctus. Morbi egestas vitae tellus quis condimentum. Sed
                        blandit tempor metus, vitae fringilla ipsum dapibus in. Pellentesque habitant morbi tristique
                        senectus et netus et malesuada fames ac turpis egestas. Morbi ut mi suscipit, auctor orci sed,
                        feugiat magna. Etiam ut venenatis sapien.
                    </p>
                    <p>
                        FIRST Vestibulum tristique mollis dolor eget consequat. Fusce viverra finibus neque eget
                        lobortis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                        himenaeos. Aenean volutpat enim quam, eu dignissim metus faucibus laoreet. Quisque risus erat,
                        vestibulum a erat quis, egestas pulvinar enim. Class aptent taciti sociosqu ad litora torquent
                        per conubia nostra, per inceptos himenaeos. Nunc nulla turpis, fermentum id iaculis a, iaculis
                        id mauris. Vivamus nibh mauris, condimentum in placerat eu, mattis vitae erat. Vestibulum
                        blandit ultricies mattis.
                    </p>
                </div>
                <div class="problem_content">
                    <p>
                        SECOND Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mattis erat a nisi
                        dignissim, vel lacinia quam sollicitudin. Etiam ut risus sed risus egestas tristique id in erat.
                        Aliquam id condimentum tellus, sed scelerisque quam. In ut est non elit finibus facilisis. Sed
                        sed turpis purus. Aliquam eu arcu vitae sapien vulputate interdum eget fringilla turpis. Aliquam
                        lobortis libero vel lectus egestas luctus. Morbi egestas vitae tellus quis condimentum. Sed
                        blandit tempor metus, vitae fringilla ipsum dapibus in. Pellentesque habitant morbi tristique
                        senectus et netus et malesuada fames ac turpis egestas. Morbi ut mi suscipit, auctor orci sed,
                        feugiat magna. Etiam ut venenatis sapien.
                    </p>
                    <p>SECOND Vestibulum tristique mollis dolor eget consequat. Fusce viverra finibus neque eget
                        lobortis.
                        Class aptent
                        taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean
                        volutpat
                        enim quam, eu
                        dignissim metus faucibus laoreet. Quisque risus erat, vestibulum a erat quis, egestas
                        pulvinar
                        enim. Class
                        aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc
                        nulla
                        turpis,
                        fermentum id iaculis a, iaculis id mauris. Vivamus nibh mauris, condimentum in placerat eu,
                        mattis vitae
                        erat. Vestibulum blandit ultricies mattis.</p>
                </div>
                <div class="problem_content">
                    <p>THIRD Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mattis erat a nisi
                        dignissim,
                        vel
                        lacinia quam
                        sollicitudin. Etiam ut risus sed risus egestas tristique id in erat. Aliquam id condimentum
                        tellus, sed
                        scelerisque quam. In ut est non elit finibus facilisis. Sed sed turpis purus. Aliquam eu
                        arcu
                        vitae sapien
                        vulputate interdum eget fringilla turpis. Aliquam lobortis libero vel lectus egestas luctus.
                        Morbi egestas
                        vitae tellus quis condimentum. Sed blandit tempor metus, vitae fringilla ipsum dapibus in.
                        Pellentesque
                        habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi ut mi
                        suscipit,
                        auctor orci sed, feugiat magna. Etiam ut venenatis sapien.</p>
                    <p>THIRD Vestibulum tristique mollis dolor eget consequat. Fusce viverra finibus neque eget
                        lobortis.
                        Class aptent
                        taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean
                        volutpat
                        enim quam, eu
                        dignissim metus faucibus laoreet. Quisque risus erat, vestibulum a erat quis, egestas
                        pulvinar
                        enim. Class
                        aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc
                        nulla
                        turpis,
                        fermentum id iaculis a, iaculis id mauris. Vivamus nibh mauris, condimentum in placerat eu,
                        mattis vitae
                        erat. Vestibulum blandit ultricies mattis.</p>
                </div>
            </div>
            <div class="section_prizes">
                <p>
                    This is CAICA's prize placeholder.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                    mattis erat a nisi dignissim, vel lacinia quam sollicitudin. Etiam ut risus sed risus egestas
                    tristique id in erat. Aliquam id condimentum tellus, sed scelerisque quam. In ut est non elit
                    finibus facilisis. Sed sed turpis purus. Aliquam eu arcu vitae sapien vulputate interdum eget
                    fringilla turpis. Aliquam lobortis libero vel lectus egestas luctus. Morbi egestas vitae tellus quis
                    condimentum.
                </p>
            </div>
        </div>
        <div class="section">
            <img class="section_owner" src="../imgs/choco.png">
            <div class="section_problems">
                <input class="problem_tab" id="p_3_1" type="radio" name="tabs3" checked/>
                <label for="p_3_1">Problem 1</label>
                <input class="problem_tab" id="p_3_2" type="radio" name="tabs3"/>
                <label for="p_3_2">Problem 2</label>
                <input class="problem_tab" id="p_3_3" type="radio" name="tabs3"/>
                <label for="p_3_3">Problem 3</label>

                <div class="problem_content">
                    <p>FIRST Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mattis erat a nisi
                        dignissim,
                        vel
                        lacinia quam
                        sollicitudin. Etiam ut risus sed risus egestas tristique id in erat. Aliquam id condimentum
                        tellus, sed
                        scelerisque quam. In ut est non elit finibus facilisis. Sed sed turpis purus. Aliquam eu
                        arcu
                        vitae sapien
                        vulputate interdum eget fringilla turpis. Aliquam lobortis libero vel lectus egestas luctus.
                        Morbi egestas
                        vitae tellus quis condimentum. Sed blandit tempor metus, vitae fringilla ipsum dapibus in.
                        Pellentesque
                        habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi ut mi
                        suscipit,
                        auctor orci sed, feugiat magna. Etiam ut venenatis sapien.</p>
                    <p>FIRST Vestibulum tristique mollis dolor eget consequat. Fusce viverra finibus neque eget
                        lobortis.
                        Class aptent
                        taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean
                        volutpat
                        enim quam, eu
                        dignissim metus faucibus laoreet. Quisque risus erat, vestibulum a erat quis, egestas
                        pulvinar
                        enim. Class
                        aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc
                        nulla
                        turpis,
                        fermentum id iaculis a, iaculis id mauris. Vivamus nibh mauris, condimentum in placerat eu,
                        mattis vitae
                        erat. Vestibulum blandit ultricies mattis.</p>
                </div>
                <div class="problem_content">
                    <p>SECOND Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mattis erat a nisi
                        dignissim,
                        vel
                        lacinia quam
                        sollicitudin. Etiam ut risus sed risus egestas tristique id in erat. Aliquam id condimentum
                        tellus, sed
                        scelerisque quam. In ut est non elit finibus facilisis. Sed sed turpis purus. Aliquam eu
                        arcu
                        vitae sapien
                        vulputate interdum eget fringilla turpis. Aliquam lobortis libero vel lectus egestas luctus.
                        Morbi egestas
                        vitae tellus quis condimentum. Sed blandit tempor metus, vitae fringilla ipsum dapibus in.
                        Pellentesque
                        habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi ut mi
                        suscipit,
                        auctor orci sed, feugiat magna. Etiam ut venenatis sapien.</p>
                    <p>SECOND Vestibulum tristique mollis dolor eget consequat. Fusce viverra finibus neque eget
                        lobortis.
                        Class aptent
                        taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean
                        volutpat
                        enim quam, eu
                        dignissim metus faucibus laoreet. Quisque risus erat, vestibulum a erat quis, egestas
                        pulvinar
                        enim. Class
                        aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc
                        nulla
                        turpis,
                        fermentum id iaculis a, iaculis id mauris. Vivamus nibh mauris, condimentum in placerat eu,
                        mattis vitae
                        erat. Vestibulum blandit ultricies mattis.</p>
                </div>
                <div class="problem_content">
                    <p>THIRD Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mattis erat a nisi
                        dignissim,
                        vel
                        lacinia quam
                        sollicitudin. Etiam ut risus sed risus egestas tristique id in erat. Aliquam id condimentum
                        tellus, sed
                        scelerisque quam. In ut est non elit finibus facilisis. Sed sed turpis purus. Aliquam eu
                        arcu
                        vitae sapien
                        vulputate interdum eget fringilla turpis. Aliquam lobortis libero vel lectus egestas luctus.
                        Morbi egestas
                        vitae tellus quis condimentum. Sed blandit tempor metus, vitae fringilla ipsum dapibus in.
                        Pellentesque
                        habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi ut mi
                        suscipit,
                        auctor orci sed, feugiat magna. Etiam ut venenatis sapien.</p>
                    <p>THIRD Vestibulum tristique mollis dolor eget consequat. Fusce viverra finibus neque eget
                        lobortis.
                        Class aptent
                        taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean
                        volutpat
                        enim quam, eu
                        dignissim metus faucibus laoreet. Quisque risus erat, vestibulum a erat quis, egestas
                        pulvinar
                        enim. Class
                        aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc
                        nulla
                        turpis,
                        fermentum id iaculis a, iaculis id mauris. Vivamus nibh mauris, condimentum in placerat eu,
                        mattis vitae
                        erat. Vestibulum blandit ultricies mattis.</p>
                </div>
            </div>
            <div class="section_prizes">
                <p>
                    This is ChochoFamily's prize placeholder. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nunc mattis erat a nisi dignissim, vel lacinia quam sollicitudin. Etiam ut risus sed risus egestas
                    tristique id in erat. Aliquam id condimentum tellus, sed scelerisque quam. In ut est non elit
                    finibus facilisis. Sed sed turpis purus. Aliquam eu arcu vitae sapien vulputate interdum eget
                    fringilla turpis. Aliquam lobortis libero vel lectus egestas luctus. Morbi egestas vitae tellus quis
                    condimentum.
                </p>
            </div>
        </div>
    </div>

    <div id="footer">
        <table>
            <tbody>
            <tr>
                <td><h6>NU ACM Student Chapter:</h6></td>
                <td><a href="https://vk.com/nuacm"></a></td>
                <td><a href="https://www.instagram.com/acmsc_nu/"></a></td>
                <!--<td><a></a></td>-->
            </tr>
            <tr>
                <td><h6>NU IET On Campus:</h6></td>
                <td><a href="https://vk.com/nu_iet"></a></td>
                <td><a href="https://www.instagram.com/nu_iet/"></a></td>
                <!--<td><a></a></td>-->
            </tr>
            </tbody>
        </table>

        <div id="creators">
            <h5>Developed by NU ACM Student Chapter</h5>
        </div>
    </div>
</div>
</body>
</html>